.vscode/
scpScript.py
scpDataset.py
test.py

mlruns/
_Artefact/*
!_Artefact/readme.md

__pycache__/



A_Dataset/**/*.csv
A_Dataset/**/map.png

scp_back

./fix_icao.py



_Lib/*
!_Lib/build.py
!_Lib/AircraftClassifier/
_Lib/AircraftClassifier/*
!_Lib/AircraftClassifier/__init__.py
!_Lib/AircraftClassifier/AircraftClassification.py
_dist


_AircraftClassificationDatasetGenerator/_Artefact/*
!_AircraftClassificationDatasetGenerator/_Artefact/readme.md

_AircraftClassificationDatasetGenerator/**/*.csv
_AircraftClassificationDatasetGenerator/**/*.parquet
