.vscode/
scpScript.py

mlruns/
_Artefact/

__pycache__/

*.csv

A_Dataset/

scp_back



_lib/*
_dist
!_lib/build.py
!_lib/AircraftClassifier/
_lib/AircraftClassifier/*
!_lib/AircraftClassifier/__init__.py
!_lib/AircraftClassifier/AircraftClassification.py
