# ML
pip install tensorflow==2.8.0
pip install keras

pip install reformer-pytorch==1.4.4
pip install torch==1.10

# Data processing
pip install pandas
pip install scikit-learn
pip install numpy-typing


# Visualization
pip install matplotlib
pip install cartopy # needs sudo apt -y install libgeos-dev


# Unit test
pip install pytest




